
h3 {
    margin: 40px 0 0;
  }
  ul {
    padding: 5px;
    margin: 0 10px;
  }
  ol {
    text-align: center;
    list-style-position: inside;
  }
  li {
    padding: 5px;
    margin: 0 10px;
  }
  section {
    background-color: rgb(221, 221, 221);
    padding: 1px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }
  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
  }